@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<h2>Create Details</h2>
<form method="post" asp-action="CreateOrderDetail" asp-controller="home">
    Order Id<input type='text' name = "orderId" value="@ViewBag?.OrderId" readonly/><br/><br/>
    Product Id <select  disabled id="productID">
        @{
            if(@ViewBag.Products != null)
            {
                foreach(var c in @ViewBag.Products)
                {
                    if(@ViewBag?.ProductId == c.ProductId.ToString()){
                        <option value='@c.ProductId' selected>@c.ProductId</option>

                    }
                    else
                    {
                        <option value='@c.ProductId'>@c.ProductId</option>
                        
                    }
                }
            }
        }
    <input type = "hidden" name="productId" id="a"/>
    </select><br/><br/>
     Product Name <select id="productName">
        @{
            if(@ViewBag.Products != null)
            {
                foreach(var c in @ViewBag.Products)
                {
                    if(@ViewBag?.ProductName == c.ProductName.ToString()){
                        <option value='@c.ProductName' selected>@c.ProductName</option>

                    }
                    else
                    {
                        <option value='@c.ProductName'>@c.ProductName</option>
                        
                    }
                }
            }
        }
    </select><br/><br/>
    Price<input type='text' name = "unitPrice" value="@ViewBag?.UnitPrice"/><br/><br/>
    Quantity<input type='text' name = "quantity" value="@ViewBag?.Quantity"/><br/><br/>
    Discount<input type='text' name = "discount" value="@ViewBag?.Discount"/><br/><br/>
    <input type="submit" value="Save"/><br/><br/>
    <span>@ViewBag?.Message</span>
</form>
<script>
    var productName = document.getElementById('productName');
    var a = document.getElementById('a') 

                                    var productID = document.getElementById('productID');
                                        a.value = productID.options[productName.selectedIndex].value;

                                    productName.addEventListener('change', () => {
                                        productID.options[productID.selectedIndex].disabled = true;
                                        productID.options[productName.selectedIndex].disabled = false;
                                        productID.options[productName.selectedIndex].selected = true;
                                        a.value = productID.options[productName.selectedIndex].value;
                                    });
</script>